@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: white;
  color: black;
  --paragraph: rgb(99, 99, 99);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: white;
    --paragraph: rgb(173, 173, 173);

    background: #111010;
  }
}
